$color_prime: #f3f4f4;
$color_second: #4b79a1;
$color_dark: #171a20;

@font-face {
  font-family: Peyda;
  src: url(../asset/font/Peyda.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Peyda, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.unset {
  all: unset !important;
}

.displayTrans {
  transition: visibility 0.5s, opacity 0.1s linear;
}
